<div class = 'container-fluid'>
    <div class="navbar-header">

        <a class="navbar-brand" href="./">DeloreanWeb an Interactive datavisualisation tool </a>

    </div>
</div>

<div class = 'container-fluid'>

    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            booking curve
                        </div>
                        <div class="chart-stage" id="Curve-chart-container">
                            <div id="Curve-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- booking histogram -->
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            booking histogram
                        </div>
                        <div class="chart-stage" id="Histo-chart-container">
                            <div id="Histo-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- booking histogram -->
            <!-- cabin -->
            <div class="col-sm-6">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Cabin
                    </div>
                    <div class="chart-stage" id="Cabin-chart-container">
                        <div id="Cabin-chart"></div>
                    </div>
                </div>
            </div>
            <!-- cabin -->
            <!-- subclass -->
            <div class="col-sm-6">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Subclass
                    </div>
                    <div class="chart-stage" id="Subclass-chart-container">
                        <div id="Subclass-chart"></div>
                    </div>
                </div>
            </div>
            <!-- subclass -->
            <div class="col-sm-12">
                <!-- DateTime -->
                <div class="chart-wrapper" id="DateTime-chart-container">
                    <div class="chart-title">
                        Date
                    </div>
                    <div class="chart-stage">
                        <div id="DateTime-chart"></div>
                    </div>
                </div>
                <!-- DateTime -->
            </div>
        </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <!-- PoS list -->
                <div class="col-sm-12">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            PoS
                        </div>
                        <div class="chart-stage" id="PoS-chart-container">
                            <div id="PoS-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- PoS list -->
            </div>
        </div>
    </div>
</div>

<table class='table table-responsive' id='dc-table-graph'>
</table>


<script>
    var dataTable = dc.dataTable("#dc-table-graph");
    var CabinChart = dc.pieChart("#Cabin-chart");
    var PoSChart = dc.rowChart("#PoS-chart");
    var HistoChart = dc.barChart("#Histo-chart");
    var timeChart = dc.barChart("#DateTime-chart");
    var SubclassChart = dc.pieChart("#Subclass-chart");

    var dataCSV;
    function updateDimensions(winWidth) {
        margin.top = 20;
        margin.right = 50;
        margin.left = 50;
        margin.bottom = 50;

        width = winWidth - margin.left - margin.right;
        height = 500 - margin.top - margin.bottom;
    }
    // load data from a csv file
    d3.tsv("../../../../data/deloreanData.tsv", function(data){
        dataCSV=data;
        var dateFormat = d3.time.format("%Y-%m-%d");
        var width, height
        // clean data

        data.forEach(function(d) {
            d.Snapshot = dateFormat.parse(d['Snapshot date']);
            d.Snapshot.setMinutes(0);
            d.Snapshot.setSeconds(0);
            d.FlightDate = dateFormat.parse(d['Flight date']);
            d.FlightDate.setMinutes(0);
            d.FlightDate.setSeconds(0);
            d.PosCode = d['PoS Code'];
            d.TrueO = d['True Origin'];
            d.TrueD = d['True Destination'];
            d.PaxY = +d['Pax Y'];
        });
        dc.disableTransitions=true;
        // Run the data through crossfilter

        var indexedData = crossfilter(data);

        function getTops(source_group) {
            return {
                all: function () {
                    return source_group.top(20);
                }
            };
        }
        // Create dimensions

        var PaxDim = indexedData.dimension(function (d) {return d.PaxY;});
        var SnapshotDim = indexedData.dimension(function (d) {return d.Snapshot;});
        var CarriertDim = indexedData.dimension(function (d) {return d.Carrier;});
        var FlightDim = indexedData.dimension(function (d) {return d.Flight;});
        var FlightDateDim = indexedData.dimension(function (d) {return d.FlightDate;});
        var CabinDim = indexedData.dimension(function (d) {return d.Cabin;});
        var SubclassDim = indexedData.dimension(function (d) {return d.Subclass;});
        var PosDim = indexedData.dimension(function (d) {return d.PosCode;});
        var OrigDim = indexedData.dimension(function (d) {return d.TrueO;});
        var DestDim = indexedData.dimension(function (d) {return d.TrueD;});
        var allDim = indexedData.dimension(function(d) {return d;});
        // define some group

        var PaxGroup = PaxDim.group();
        var SnapshotGroup = SnapshotDim.group();
        var CarriertGroup = CarriertDim.group();
        var FlightGroup = FlightDim.group();
        var FlightDateGroup = FlightDateDim.group();
        var CabinGroup = CabinDim.group();
        var SubclassGroup = SubclassDim.group();
        var PosGroup = PosDim.group();
        var OrigGroup = OrigDim.group();
        var DestGroup = DestDim.group();
        var PosTopGroup = getTops(PosGroup);
        var all = indexedData.groupAll();



        var minDate = dateFormat.parse(FlightDateDim.bottom(1)[0]['Flight date']);
        var maxDate = dateFormat.parse(FlightDateDim.top(1)[0]['Flight date']);
        console.log(minDate)
        console.log(maxDate)
        var minDateSnap = SnapshotDim.bottom(1)[0]["timestamp"];
        var maxDateSnap = SnapshotDim.top(1)[0]["timestamp"];




        // Create the dc.js chart objects & link to div


        // Setup the charts

        HistoChart.width($('#Histo-chart-container')[0].clientWidth)
            .margins({top: 10, right: 50, bottom: 80, left: 50})
            .dimension(PaxDim)
            .group(FlightGroup)
          .gap(50)
          .renderVerticalGridLines(true)
          .renderHorizontalGridLines(true)
          .x(d3.scale.ordinal().domain(FlightDim))
            .brushOn(false)
          .xUnits(dc.units.ordinal).margins({top: 10, right: 50, bottom: 80, left: 50});


        console.log(d3.scale.ordinal().rangeRoundBands([0, 20], .05));

        timeChart.width($('#DateTime-chart-container')[0].clientWidth)
            .height(140)
            .dimension(FlightDateDim)
            .group(FlightDateGroup)
            .x(d3.time.scale().domain([minDate, maxDate]))
            .xUnits(d3.time.day)
            .yAxisLabel("Frequency").xAxisLabel('Time');

        //PoS
        PoSChart.height(510)
            .dimension(PosDim)
            .group(PosTopGroup)
            .ordering(function(d) { return -d.value })


        //cabin
        var xAxis = PoSChart.elasticX(true).xAxis().ticks(5);

        CabinChart
            .dimension(CabinDim)
            .group(CabinGroup);

        //subclass
        SubclassChart
            .dimension(SubclassDim)
            .group(SubclassGroup);
        // Table
        dataTable
            .dimension(PaxDim)
            .group(function(d) { return ""
            })
            .size(60)
            .columns([
                {
                    label: "Snapshot date",
                    format: function(d) { return d.Snapshot; }
                },
                {
                    label: "Snapshot date",
                    format:function(d) { return d.Carrier; }
                },
                {
                    label: "Snapshot date",
                    format:function(d) { return d.Flight; }
                },
                {
                    label: "Snapshot date",
                    format:function(d) { return d.FlightDate; }
                },
                {
                    label: "Snapshot date",
                    format:function(d) { return d.Cabin; }
                },
                {
                    label: "Snapshot date",
                    format:function(d) { return d.Subclass; }
                },
                {
                    label: "Snapshot date",
                    format:function(d) { return d.PosCode; }
                },
                {
                    label: "Snapshot date",
                    format:function(d) { return d.TrueO; }
                },
                {
                    label: "Snapshot date",
                    format:function(d) { return d.TrueD; }
                }
            ])
            .sortBy(function(d){ return d.Cabin; })
            .order(d3.ascending);

        // Render the Charts
        dc.renderAll();
    });

</script>

</body>
</html>