doctype html
html
  head
    title= title
    script(src="/scripts/jquery/dist/core.js")
    script(src="/scripts/jquery/dist/jquery.js")
    //script(src="/scripts/bootstrap/dist/js/bootstrap.js")
    //script(src="/scripts/d3/build/d3.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
