doctype html
html
  head
    title= title
    script(src="/scripts/jquery/dist/jquery.js")
    script(src="/scripts/bootstrap/dist/js/bootstrap.js")
    script(src="/scripts/d3/build/d3.js")
    script(src="/javascripts/dropzone.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="/scripts/bootstrap/css/simple-sidebar.css")

  body
    block content
