doctype html
html(ng-app="deloreanweb")
    head
        title= title
        script(src="/app/node_modules/jquery/dist/jquery.js")
        script(src="/app/node_modules/bootstrap/dist/js/bootstrap.js")
        script(src="/app/node_modules/angular/angular.js")
        script(src="/app/node_modules/angular-ui-router/release/angular-ui-router.js")
        script(src="/app/app.js")
        script(src="/app/views/home/home.js")
        script(src="/app/views/connection/connection.js")
        script(src="/app/services/api.js")
        script(src="/app/views/table/table.js")
        script(src="/app/configuration/constants.js")
        script(src="/app/directives/directives.js")
        script(src="/javascripts/dropzone.js")
        script(src="/javascripts/crossfilter.js")
        script(src="/javascripts/d3.js")
        script(src="/javascripts/dc.js")
        script(src="/javascripts/keen.min.js")
        script(src="/javascripts/papaparse.js")

        link(rel='stylesheet', href='/app/node_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/app/stylesheets/simple-sidebar.css')
        link(rel='stylesheet', href='/app/stylesheets/dropzone.css')
        link(rel="stylesheet", href='app/stylesheets/signin.css')
        link(rel="stylesheet", href='app/stylesheets/style.css')
        link(rel="stylesheet", href='app/stylesheets/dashboard.css')
        link(rel="stylesheet", href="app/stylesheets/dc.css")
        link(rel="stylesheet", href="app/stylesheets/keen-dashboards.css")

    body
        base(href="/")
        div(ui-view)