body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.loginButton {
  position: fixed;
  top: 30px;
  right: 30px;
}


.sideBarTopSpan {
  display: block;
}
    .sideBarTopSpan .importButton {
      position: relative;
      left: -15px;
      top: 5px;
      width: 80px;
      border-radius: 5px;
      background-color: #337ab7;
      color: white;
      border: none;
    }

    .sideBarTopSpan .closeSideBarLink {
      position: relative;
      top: 5px;
      left: 100px;
      width: 40px;
      color: white;
      background-color: transparent;
      border: none;
    }


#hooverBar {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 15px;
  opacity: 0;
}

#sidebar-wrapper {
  height: auto !important;
  background-color: #666666 !important;
}

.dataVizSideMenu {
  bottom: 50px !important;
  top: 50px;
  opacity: 0.8;
  border-radius: 0px 5px 5px 0px;
}