<div class="container">
    <h1>
        Login
    </h1>
    <form name="connectionForm" novalidate>
        <div class="input-field">
            <input type="email" id="login" name="login" ng-model="connection.login" ng-required="true">
            <label for="login">Login</label>
        </div>
        <div class="input-field">
            <input type="password" id="password" name="password" ng-model="connection.password" ng-required="true">
            <label for="password">Password</label>
        </div>
        <div class="input-field">
            <input type="submit" ng-click="login()" value="Log in" class="btn">
        </div>
    </form>
    <h1>
        Create an account
    </h1>
    <form name="newAccountForm">
        <div class="input-field">
            <input type="text" id="firstName" name="firstName" ng-model="newAccount.firstName" ng-required="true">
            <label for="firstName">First name</label>
        </div>
        <div class="input-field">
            <input type="text" id="lastName" name="lastName" ng-model="newAccount.lastName" ng-required="true">
            <label for="lastName">Last name</label>
        </div>
        <div class="input-field">
            <input type="submit" value="Create my account" class="btn" ng-disabled="newAccountForm.$invalid">
        </div>
    </form>
</div>