<!DOCTYPE html>
<div>{{Date.now().toString() | date:'yyyy-MM-DD'}}</div>
<div>{{Date.now() | date:'MM/dd'}}</div>

<div id="hoverBar"/>
<div id="wrapper">

    <!-- top bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Delorean project</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span></a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                    <a href="#" data-toggle="modal" data-target="#importModal">
                        Import
                    </a>
                    <a href="#menu-toggle" class="closeSideBarLink" id="menu-toggle">
                        <span class="glyphicon glyphicon-menu-left"/>
                   </a>
            </li>
            <li ng-repeat="row in data "> {{ row.carrier }} </li>
        </ul>
    </div>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>


<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">File import</h4>
            </div>
            <div class="modal-body">
                <form action="/home/import"
                      class="dropzone"
                      id="importDropzone"
                      enctype="multipart/form-data">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-primary" ng-click="getAllData()">Validate</button>
            </div>
        </div>
    </div>
</div>


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    if (!/Mobi/.test(navigator.userAgent)) {
        $("#hoverBar").on("mouseover", function (event) {
            event.preventDefault();
            if ($("#wrapper").hasClass("toggled")) {
                setTimeout(function () {
                    $("#wrapper").toggleClass("toggled");
                }, 100);
            }
        });
    } else {
        $("#wrapper").addClass("toggled");
    }
</script>
