<!DOCTYPE html>
<div>{{Date.now().toString() | date:'yyyy-MM-DD'}}</div>
<div>{{Date.now() | date:'MM/dd'}}</div>

<div id="hoverBar"/>
<div id="wrapper">

    <!-- top bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Delorean project</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span></a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand sideBarTopButtons">
                <a href="#" data-toggle="modal" data-target="#importModal">
                    Import
                </a>
                <a href="#menu-toggle" class="closeSideBarLink" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-left"/>
                </a>
            </li>
            <li> <h3>Toggle visibility </h3></li>
            <hr/>
            <li class="sidebar-brand sideBarVisibilityToggle">
                <a href="#" ng-click="hideViz('#histoDiv')">Histogramme</a>
            </li>
            <li class="sidebar-brand sideBarVisibilityToggle">
                <a href="#" ng-click="hideViz('#cabinDiv')">Cabin</a>
            </li>
            <li class="sidebar-brand sideBarVisibilityToggle">
                <a href="#" ng-click="hideViz('#DateTime-chart-container')">Flight date</a>
            </li>
            <li class="sidebar-brand sideBarVisibilityToggle">
                <a href="#" ng-click="hideViz('#posDiv')">PoS</a>
            </li>
            <li class="sidebar-brand sideBarVisibilityToggle">
                <a href="#" ng-click="hideViz('#dc-table-graph')">Table</a>
            </li>
        </ul>
    </div>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="noDataWarning" align-content="center" class="alert alert-warning" visibility="hidden">
                <strong>Warning!</strong> No data!
            </div>
            <div id="vizBody">
                <div class="col-md-9">
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                            <!--<div class="chart-wrapper">-->
                                <!--<div class="chart-title">-->
                                    <!--boking curve-->
                                <!--</div>-->
                                <!--<div class="chart-stage" id="Curve-chart-container">-->
                                    <!--<div id="Curve-chart" ></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <!-- booking histogram -->
                        <div class="col-md-12">
                            <div id='histoDiv' class="chart-wrapper">
                                <div class="chart-title">
                                    booking histogram
                                </div>
                                <div class="chart-stage" id="Histo-chart-container">
                                    <div id="Histo-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- booking histogram -->
                        <!-- cabin -->
                        <div class="col-md-6">
                            <div id="cabinDiv" class="chart-wrapper">
                                <div class="chart-title">
                                    Cabin
                                </div>
                                <div class="chart-stage" id="Cabin-chart-container">
                                    <div id="Cabin-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- cabin -->
                        <!-- subclass -->
                        <div class="col-md-6">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Subclass
                                </div>
                                <div class="chart-stage" id="Subclass-chart-container">
                                    <div id="Subclass-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- subclass -->
                        <div class="col-md-12">
                            <!-- DateTime -->
                            <div class="chart-wrapper" >
                                <div class="chart-title">
                                    Date
                                </div>
                                <div class="chart-stage" id="DateTime-chart-container">
                                    <div id="DateTime-chart"></div>
                                </div>
                            </div>
                            <!-- DateTime -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <!-- PoS list -->
                        <div class="col-md-12">
                            <div id="posDiv" class="chart-wrapper">
                                <div class="chart-title">
                                    PoS
                                </div>
                                <div class="chart-stage" id="PoS-chart-container">
                                    <div id="PoS-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- PoS list -->
                    </div>
                </div>
            </div>
        </div>

        <table class='table' id='dc-table-graph'>
        </table>
        <input id="last" class="btn" type="Button" value="Last" onclick="javascript:last()" />
        <input id="next" class="btn" type="button" value="Next" onclick="javascript:next()"/>

    </div>
    <script>

        if (!angular.element($("#importModal")).scope.data) {
            $('#importModal').modal('show');
            $('#vizBody').hide()
            $('#table').hide()
            $('#last').hide()
            $('#next').hide()
        }
        var dataTable;
        var CabinChart;
        var PoSChart;
        var HistoChart;
        var timeChart ;
        var SubclassChart;
        var ofs = 0, pag = 10;
        // load data from a csv file
        function renderViz(scopeData) {
            console.log("renderViz")
            data = scopeData;
//                        console.log(data);
            var dateFormat = d3.time.format("%Y-%m-%dT%H:%M:%S.%LZ");

            // clean data

            data.forEach(function (d) {
//                        .substr(0,9)
                d.Snapshot = dateFormat.parse(d['snapshot_date']);
                d.Snapshot.setMinutes(0);
                d.Snapshot.setSeconds(0);
                d.FlightDate = dateFormat.parse(d['flight_date']);
                d.FlightDate.setMinutes(0);
                d.FlightDate.setSeconds(0);
                d.PosCode = d['pos_code'];
                d.TrueO = d['origin'];
                d.TrueD = d['destination'];
                d.PaxY = +d['pax_Y'];
            });
            dc.disableTransitions = true;
            // Run the data through crossfilter

            var indexedData = crossfilter(data);

            // Create dimensions

            var PaxDim = indexedData.dimension(function (d) {
                return d.PaxY;
            });
            var SnapshotDim = indexedData.dimension(function (d) {
                return d.Snapshot;
            });
            var CarriertDim = indexedData.dimension(function (d) {
                return d.carrier;
            });
            var FlightDim = indexedData.dimension(function (d) {
                return d.flight;
            });
            var FlightDateDim = indexedData.dimension(function (d) {
                return d.FlightDate;
            });
            var CabinDim = indexedData.dimension(function (d) {
                return d.cabin;
            });
            var SubclassDim = indexedData.dimension(function (d) {
                return d.subclass;
            });
            var PosDim = indexedData.dimension(function (d) {
                return d.PosCode;
            });
            var OrigDim = indexedData.dimension(function (d) {
                return d.TrueO;
            });
            var DestDim = indexedData.dimension(function (d) {
                return d.TrueD;
            });
            var allDim = indexedData.dimension(function (d) {
                return d;
            });

            //function used to create a fake group
            function getTops(sourcegroup) {
                return {
                    all: function () {
                        return sourcegroup.top(20);
                    }
                };
            }



            // define some group

            var PaxGroup = PaxDim.group();
            var SnapshotGroup = SnapshotDim.group();
            var CarriertGroup = CarriertDim.group();
            var FlightGroup = FlightDim.group();
            var FlightDateGroup = FlightDateDim.group();
            var CabinGroup = CabinDim.group();
            var SubclassGroup = SubclassDim.group();
            var PosGroup = PosDim.group();
            var OrigGroup = OrigDim.group();
            var DestGroup = DestDim.group();
            var PosTopGroup = getTops(PosGroup);

            var minDate = dateFormat.parse(FlightDateDim.bottom(1)[0]['flight_date']);
            var maxDate = dateFormat.parse(FlightDateDim.top(1)[0]['flight_date']);
            console.log(minDate)
            console.log(maxDate)
            var minDateSnap = SnapshotDim.bottom(1)[0]["timestamp"];
            var maxDateSnap = SnapshotDim.top(1)[0]["timestamp"];


            // Create the dc.js chart objects & link to div

            dataTable = dc.dataTable("#dc-table-graph");
            CabinChart = dc.pieChart("#Cabin-chart");
            PoSChart = dc.rowChart("#PoS-chart");
            HistoChart = dc.barChart("#Histo-chart");
            timeChart = dc.barChart("#DateTime-chart");
            SubclassChart = dc.pieChart("#Subclass-chart");

            // Setup the charts


            HistoChart
                    .width($('#Histo-chart-container')[0].clientWidth)
                    .margins({top: 10, right: 50, bottom: 40, left: 30})
                    .dimension(PaxDim)
                    .group(FlightGroup)
                    .renderVerticalGridLines(true)
                    .renderHorizontalGridLines(true)
                    .x(d3.scale.ordinal().domain(FlightDim))
                    .xUnits(dc.units.ordinal).yAxisLabel("").xAxisLabel('')
                    .brushOn(false);

            timeChart.width($('#DateTime-chart-container')[0].clientWidth)
                    .height(140)
                    .dimension(FlightDateDim)
                    .group(FlightDateGroup)
                    .x(d3.time.scale().domain([minDate, maxDate]))
                    .yAxisLabel("Frequency").xAxisLabel('Time');

            var xAxis = timeChart.xAxis().tickFormat(d3.time.format('%e'));

            //PoS
            PoSChart.height(510)
                    .dimension(PosDim)
                    .group(PosTopGroup)
                    .ordering(function (d) {
                        return -d.value
                    });
            xAxis = PoSChart.elasticX(true).xAxis().ticks(5);

            //cabin

            CabinChart
                    .width($('#Cabin-chart-container')[0].clientWidth - 20)
                    .height($('#Cabin-chart-container')[0].clientWidth - 20 )
                    .dimension(CabinDim)
                    .group(CabinGroup)

            //subclass
            SubclassChart.width($('#Subclass-chart-container')[0].clientWidth -20)
                .height($('#Subclass-chart-container')[0].clientWidth - 20 )
                .dimension(SubclassDim)
                .group(SubclassGroup);

            // Table
            dataTable
                    .dimension(PaxDim)
                    .group(function (d) {
                        return ""
                    })
                    .size(Infinity)
                    .columns([
                        {
                            label: "Snapshot date",
                            format: function (d) {
                                return d3.time.format('%d-%m-%y')(d.Snapshot);
                            }
                        },
                        {
                            label: "Carrier",
                            format: function (d) {
                                return d.carrier;
                            }
                        },
                        {
                            label: "Flight",
                            format: function (d) {
                                return d.flight;
                            }
                        },
                        {
                            label: "Flight Date",
                            format: function (d) {
                                return d3.time.format('%d-%m-%y')(d.FlightDate);
                            }
                        },
                        {
                            label: "Cabin",
                            format: function (d) {
                                return d.cabin;
                            }
                        },
                        {
                            label: "Subclass",
                            format: function (d) {
                                return d.subclass;
                            }
                        },
                        {
                            label: "PoS Code",
                            format: function (d) {
                                return d.PosCode;
                            }
                        },
                        {
                            label: "True Origin",
                            format: function (d) {
                                return d.TrueO;
                            }
                        },
                        {
                            label: "True Destination",
                            format: function (d) {
                                return d.TrueD;
                            }
                        }
                    ])
                    .sortBy(function (d) {
                        return d.PosCode;
                    })
                    .order(d3.ascending);
            update()
            // Render the Charts
            dc.renderAll();

        }
        window.addEventListener("resize",updateChart) ;
        function updateChart(){

            HistoChart.width($('#Histo-chart-container')[0].clientWidth);
            CabinChart.width($('#Cabin-chart-container')[0].clientWidth -20)
                    .height($('#Cabin-chart-container')[0].clientWidth - 20 );
            timeChart.width($('#DateTime-chart-container')[0].clientWidth);
            SubclassChart.width($('#Subclass-chart-container')[0].clientWidth -20)
                    .height($('#Subclass-chart-container')[0].clientWidth - 20 );
            dc.renderAll();
        }
        function update() {
            dataTable.beginSlice(ofs);
            dataTable.endSlice(ofs+pag);
        }
        function next() {
            ofs += pag;
            update();
            dataTable.redraw();
        }
        function last() {
            ofs -= pag;
            update();
            dataTable.redraw();
        }
    </script>
</div>
</div>
<!-- /#page-content-wrapper -->

</div>


<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">File import</h4>
            </div>
            <div class="modal-body">
                <form action="/home/import"
                      class="dropzone"
                      id="importDropzone"
                      enctype="multipart/form-data">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="getAllData()">Validate
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    if (!/Mobi/.test(navigator.userAgent)) {
        $("#hoverBar").on("mouseover", function (event) {
            event.preventDefault();
            if ($("#wrapper").hasClass("toggled")) {
                setTimeout(function () {
                    $("#wrapper").toggleClass("toggled");
                }, 100);
            }
        });
    } else {
        $("#wrapper").addClass("toggled");
    }
</script>
