body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#sidebar-wrapper {
  top: 0px;
  height: 100%;
}

.closeSideBarLink {
  position: relative;
  top: 5px;
  left: 100px;
  width: 40px;
  color: white;
  background-color: transparent;
  border: none;
}

#hoverBar {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 30px;
  opacity: 0;
}

.sidebar-nav li a{
  display: inline !important;
}

